List of Bob Ross Episodes
<div id="list-component" ></div>

<script id="list" type="text/x-template-handlebars">
  <ul>
  {{#each items}}
    <li>{{episode}}: {{title}}</li>
  {{/each}}
  </ul>
</script>
